.header__burger_active {
  background: none;
}

.header__burger_active:after {
  top: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header__burger_active:before {
  top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}