.header__email {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0;
}

.header__email:hover {
  opacity: 0.8;
}

/* @media screen and (max-width: 940px) {
  .header__email {
    background-size: 104px 25px;
    width: 104px;
    height: 25px;
    margin-left: 27px;
  }
} */
