.profile {
    display: flex;
    flex-direction: row;
    padding: 40px 0 0;
    margin: 0 auto;
    width: 100%;
    max-width: 880px;
    align-items: center;
  }
  
  @media screen and (max-width: 940px) {
    .profile {
      flex-direction: column;
      padding: 42px 0 0;
    }
  }