.auth__input {
  background: none;
  border: none;
  border-bottom: 2px solid #cccccc;
  padding: 8px 0;
  width: 100%;
  color: #cccccc;
}

.auth__input::placeholder {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #cccccc;
}

.auth__input:focus {
  outline-style: none;
}

@media screen and (max-width: 660px) {
  .auth__input {
    width: 100%;
    max-width: 260px;
    min-width: auto;
  }
}